<div class="wrapper" (window:resize)="onResize()">
  <div class="header">
    <app-header></app-header>
  </div>
  <div>
    <div class="sources" id="sources">
      <app-sources [buttons]="buttons" (clickSource)="sourceClick($event)"></app-sources>
    </div>
    <div class="contents" id="contents">
      <div class="title">TITLE</div>
      <div class="canvas">
        <router-outlet></router-outlet>
        <div style="padding: 6px;">
          <strong>Try Buttons:</strong><br />
          Clicked: {{clickedButtonName}}<br />
          <button (click)="addButton()">Add a button</button>
        </div>
      </div>
      <app-controls></app-controls>
    </div>
    <div class="destinations" id="destinations">
      <app-destinations></app-destinations>
    </div>
  </div>
  <div class="footer">
    FOOTER
  </div>
</div>
