<div class="wrapper" (window:resize)="onResize()">
  <div class="header">
    <app-header></app-header>
  </div>
  <div>
    <div class="sources" id="sources">
      <app-sources [buttons]="sourcebuttons" (clickButton)="buttonClick($event)"></app-sources>
    </div>
    <div class="contents" id="contents">
      <div class="title"><app-title></app-title></div>
      <div id="canvas-wrapper">
        <div class="canvas" id="canvas">
          <router-outlet></router-outlet>
          <div style="padding: 6px;">
            <strong>Try Buttons:</strong><br />
            Clicked: {{clickedButtonName}}<br />
            <button (click)="addButton()">Add a button</button>
          </div>
        </div>
      </div>
      <app-controls></app-controls>
    </div>
    <div class="destinations" id="destinations">
      <app-destinations [buttons]="destButtons" (clickButton)="buttonClick($event)"></app-destinations>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
