/*@media (min-width: 900px) {
  .wrapper {
    aspect-ratio: 16 / 9;
  }
}
body, html {
  max-height: 100vh;
  font-size: 1vw;
}
*/

.wrapper {
  max-height: 100vh;
  font-size: 1.3vw;
}

.header {
  border: 1px solid black;
  display: block;
  width: 100%;
}

.sources {
  display: inline-block;
  border: 1px solid red;
  width: 15%;
  vertical-align: top;
  overflow: hidden;
  overflow-y: auto;
}

.contents {
  display: inline-block;
  border: 1px solid red;
  width: 70%;
  vertical-align: top;
  aspect-ratio: 16 / 9;
}

.destinations {
  display: inline-block;
  border: 1px solid red;
  width: 15%;
  vertical-align: top;
}

.footer {
  border: 1px solid black;
  display: block;
  width: 100%;
}

.canvas {
  background-image: url('/assets/example-image-16x9.png');
  border: 1px solid green;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: contain;
  aspect-ratio: 16 / 9;
}
